@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

/* 
font-family: "Open Sans", serif;
font-family: "Poppins", serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif; 
}

:root {
  --primary-color: #16C47F;
  --primary-color-light: rgba(22, 196, 127,05);
  --secondary-color: #fff8f3;
  --secondary-btn-color: #fd6e0a;
  --primary-btn-color: #594C8D;

  --text-color-gray: #474747;
  --text-color-white: #fff;
  --text-color-black: #000;
  
  
  --sub-bg-color: #FBFBFF;
  --input-bg-color: #f5f5f5;
  

 
}

body {
  scroll-behavior: smooth;
}

.btn-primary {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  transition: transform 0.5s ease-in-out;

    &:hover{
      transform: scale(1.08);
      background-color: var(--secondary-btn-color) ;
    }
  }

a {
  text-decoration: none;
  list-style: none;
  color: var(--text-color-gray);
}  

li {
  list-style: none;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.5); /* Transparent black background */
  backdrop-filter: blur(05px); /* Apply blur effect */
  box-shadow: 0 .25rem .38rem rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Nav Style  */

header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: none;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 111;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9.375rem;

  background-color: var(--text-color-white);


  .logo {
    font-size: 1.875rem;
    font-weight: bold;
    cursor: pointer;
    border: 0px 0.188rem solid var(--primary-color) ;    

    span{
      color: var(--primary-color);  
    }
  }


  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.8rem;
    
    }

  }

}

.banner-section {

  background-image: url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: 2% 1%;
  background-position: center left ;
  background-size: 5rem;
  margin-left: 1.25rem;
  min-height: 100vh;
  z-index: 222;
  
  display: flex;
  
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3.125rem 0 8.125rem;
    gap: 50px;


    .banner-content {
      width: 50%;

      .banner-greeting {
        font-size: 1.875rem;
        color: var(--text-color-gray);
      }

      .name {
        font-size: 3.125rem;
        font-weight: bold;
        margin-bottom: 1.25rem;
      }

      .banner-des {
        font-size: 1rem;
        line-height: 2;
        color: var(--text-color-gray);
        margin-bottom: .9rem;
      }

      .btn-primary {
        margin: 0.625rem .9rem 0 0;
      }
    }

    .banner-profile-pic {
      width: 42%;
      display: grid;
      place-items: center ;
      aspect-ratio: 1;
      border-radius: 50%;
      border: .4rem solid var(--primary-color);
      transition: border .5s ease;

      
      &:hover {
        border: .4rem solid var(--secondary-btn-color);
      }


      .banner-image {
       width: 31.25rem;
       height: 31.25rem;
       border-radius: 50%;
       object-fit: cover;
       padding: .6rem;
       transition: transform 1s ease;

       &:hover{
         transform: scale(1.05);
       }

      }
    }

  }

}  


.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 9.375rem;
  min-height: 100vh;
  scroll-margin-top: -3.438rem ;

  .about-heading {
    
    .about-title {
      display: inline-block;
      border-bottom: .15rem solid var(--primary-color);
      padding: 1rem 0;
    }
    
    .about-des {
      padding: 1rem  4rem;
      margin: 0;
    }
  }


  .about-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    text-align: left;

    .about-image {
      width: 50%;
      padding: 1.3rem;
      border: .12rem solid var(--primary-color);
      border-radius: 50%;
      
      img{
        align-items: start;
        width: 100%;
      }
    }
  
    .about-content {
      width: 60%;

      .sub-desc {
        padding: 1rem 0;
      }

      .about-info {
        display: flex;
        justify-content: space-between;
        font-size: .85rem;
        gap: 1rem;
        margin-top: 1.25rem;

            .about-item-left{
              padding-left: 0.625rem;
              
              table {
                border-collapse: collapse;

                td {
                  padding: .5rem .60rem;
                  vertical-align:top;
                }
                td i {
                  color: var(--primary-color);
                  padding-right:.3rem;
                }

                td strong {
                  display: inline-block;
                  width: 5rem;
                  font-weight: bold;
                }
                td span  {
                  display: inline-block;
                  width: .65rem;
                  font-weight: bold;
                }
              }

            }

            .about-item-right{
              padding-left: .625rem;
              
              table {
                border-collapse: collapse;

                td {
                  padding: .5rem .60rem;
                  vertical-align:top;
                }
                td i {
                  color: var(--primary-color);
                  padding-right: .3rem;
                }

                td strong {
                  display: inline-block;
                  width: 5rem;
                  font-weight: bold;
                }
                td span  {
                  display: inline-block;
                  width: .65rem;
                  font-weight: bold;
                }
              }

            }
      }
    }
  }
    
      .about-des {
        margin-top: 2rem;
        line-height: 1.8;
        opacity: .8;
        text-align: justify;
      }
}


.do-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 8.125rem;

  .do-heading {
    
    .do-title {
      display: inline-block;
      border-bottom: .2rem solid var(--primary-color);
      padding: 1rem 0;
    }
    
    .do-des {
      padding: 1rem 4rem;
      margin: 0;
    }
  }


  .do-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .6rem;
    text-align: left;

    .card-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: auto;
      gap: 1.25rem;
      padding: .6rem;
      
      
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15.625rem;
        height: 17.5rem;
        background-color: rgba(22, 196, 127, .1);
        border-radius: 0.625rem;
        border: 0.188rem solid transparent;
        transition: border 1s ease-in-out, transform 1s ease;
        
        &:hover{
         transform: scale(1.05);
         border: 0.125rem solid var(--primary-color);
         background-color: white;
        }


        .card-img{
          width: 20%;
          padding-top: 0.625rem;
        }
        .card-heading{
          font-size: 0.875rem;
          padding: 0.625rem;
        }
        .card-content{
          font-size: 0.875rem;
          line-height: 1.8;
          opacity: .8;
          border: none;
          padding-top: 0rem;
        }
      }
    }

  }
}


.resume-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.875rem 8.125rem;

  .resume-heading {
    
    .resume-title {
      display: inline-block;
      border-bottom: 0.188rem solid var(--primary-color);
      padding: 1rem 0;
    }
    
    .resume-des {
      padding: 1rem 4rem;
      margin: 0;
    }
  }


  .resume-container {
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    margin-top: .625rem;

    .skills-left {
      width: 45%;

      .skill-heading {
        border-bottom: .063rem solid var(--primary-color);
        display: inline-block;
        text-align: center;
        margin: 0 auto; 
        text-align: center; 
      }

      .edu-1 {
        margin-top: 1.25rem;

      }

      .study {
        text-align: left;
        justify-content: center;


        .edu-heading {
          /* padding-bottom: 5px; */
        }
        .edu-subheading {
          padding-bottom: .5rem;
        }
        .edu-des {
          font-size: .9rem;
          padding-bottom: 1.8rem;
          text-align: justify;
        }

      }

    }



    .skills-right {
      width: 50%;

      .skill-heading {
        border-bottom: 1px solid var(--primary-color);
        display: inline-block;
        text-align: center;
        margin: 0 auto; 
        text-align: center; 
      }

      .ts-1 {
        margin-top: 1.25rem;
      }

      .skill {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-bottom: 1.25rem;

        .skill-name{
          width: 6.25rem;
          font-weight: 500;
        }

        .progress-bar{
          flex: 1;
          height: 0.5rem;
          border-radius: 1.25rem;
          background-color: #e6e6e6;
          overflow: hidden;

          .progress {
            height: 100%;
            background-color: var(--primary-color);
          }
        }

        .skill-percentage {
          width: 3.75rem;
          text-align: right;
          font-weight: 500;
          font-size: 0.75rem;
        }



      }
    }
  }
}


footer {
  margin-bottom: 1.8rem;
  padding: 0 8.125rem;


  .footer-container {
    display: flex;
    justify-content: space-between;

    .footer-left {
      width: 100%;

      .heading {
        display: inline-block;
        margin-bottom: 1.563rem;
        border-bottom: .0.125rem solid var(--primary-color);
      }

      .info {
        width: 80%;
        line-height: 1.6;
        text-align: justify;
        color: var(--text-color-gray);
        padding-bottom: 1rem;
      }

      .social-icon {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        
        .fa-brands {
          color: var(--primary-color);
          font-size: 1.25rem;
          width: 2.5rem;
          aspect-ratio: 1;
          background-color: var(--text-color-white), transparent;
          border: .05rem solid var(--primary-color);
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          transition: all .3s linear;
          
          &:hover{
            background-color: var(--primary-color);
            color: var(--text-color-white);
          }
        }
      }


    }

    .footer-right{
      width: 100%;

      .heading {
        padding-bottom: 25px;
      }

      .contact-form {
        width: 80%;
        display: flex;
        flex-direction: column;

        .input-wrap {
          position: relative;
          margin-bottom: 30px;
          
          
          .contact-input {
            width: 100%;
            height: 50px;
            justify-content: center;
            align-items: center;
            background-color: var(--input-bg-color);
            border: none;
            outline: none;
            border-radius: 1rem;
            color: var(--text-color-gray);
            font-size: .8rem;
            font-weight: 600;
            padding: 0 60px 0 10px;
          }

          .input-label {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: .5rem;
            line-height: 0;
            font-size: 14px;
            pointer-events: none;
            color: var(--para-color);
            padding: 0 .2rem;
            transition: .5s;
          }

          .contact-us--icon {
            position: absolute;
            right: calc(1.35rem + 2px);
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: var(--primary-color);
            font-size: 20px;
          }

          input:focus~label, 
          input:valid~label{
            top: -20%;

          }

          .message-input {
            resize: none;
            min-height: 150px;
            line-height: 1.5;
            width: 100%;
            height: 50px;
            justify-content: center;
            align-items: center;
            text-align: justify;
            background-color: var(--input-bg-color);
            border: none;
            outline: none;
            border-radius: 1rem;
            color: var(--text-color-gray);
            font-size: .8rem;
            font-weight: 600;
            padding: 20px 60px 20px 10px;
          }

          textarea:focus~label, 
          textarea:valid~label{
            top: -08%;
          }
        }

        
        .contact-button{
          margin-top: -20px;
        }
        
      }
    }

  }

}